/*font for sidebar heading */
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400&display=swap');
/* colour palette  https://colorhunt.co/palette/7286d38ea7e9e5e0fffff2f2 */

/******         Sidebar styles                  ********/
.sidebarContainer{
    background-color: #E5E0FF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* background-image: url('../assets/quantityIcons/background1.jpeg'); */
}

.sidebarHeader{
    height: 15%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px; 
}

.sidebarQuantityTitle{
    color: black;
    font-size: 40px;
    font-family: 'Bayon', sans-serif;
}

.sidebarBody{
    /* background-color: white; */
    
    height:85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.sidebarQuantityGIF{
    height: 20%;
    width: auto;
    justify-self: flex-start;
    /* margin-top: 15px;
    margin-bottom: 15px;  */
    
}

.sidebarQuantityText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebarQuantityCurrentValue{
    color: black;
    font-size: 30px;
    font-family: 'Bellota', system-ui;
}

.sidebarQuantityAverageValue{
    color: black;
    font-size: 30px;
    font-family: 'Bellota', system-ui;
}

.sidebarQuantityMessage{
    color: black;
    font-size: 20px;
    font-family: 'Bellota', system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.graphContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}