/******         Sidebar styles                  ********/
.sidebarContainer{
    background-color: red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
}

.sidebarHeader{
    height: 10%;
    width: 100%;
    background-color: blue;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px; 
}

.sidebarQuantityTitle{
    color: white;
}

.sidebarBody{
    background-color: orange;
    height:75%
}

.sidebarFooter{
    height:15%;
    background-color: greenyellow;

}