/*font for sidebar heading */
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400&display=swap');
/* colour palette  https://colorhunt.co/palette/7286d38ea7e9e5e0fffff2f2 */

/******         Sidebar styles                  ********/
.sidebarContainer{
    background-color: #E5E0FF;
    height: 100vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* background-image: url('../assets/quantityIcons/background1.jpeg'); */
}

.sidebarHeader{
    height: 15%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px; 
}

.sidebarQuantityTitle{
    color: black;
    font-size: 45px;
    font-family: 'Bayon', sans-serif;
}

.sidebarBody{
    /* background-color: white; */
    
    height:85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.sidebarQuantityGIF{
    height: 20%;
    width: auto;
    justify-self: flex-start;
    /* margin-top: 15px;
    margin-bottom: 15px;  */
    
}

/*  removed this from sidebar.tsx 
.sidebarQuantityText{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */


.sidebarQuantityValues{
    display:flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-around;
    /* justify-content: center; */
    /* gap:40px; */
}

.sidebarQuantityCurrentValueDiv, .sidebarQuantityAverageValueDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 3px; */
    align-items: center;
    color: black;
    font-family: 'Bellota', system-ui;
    height: 150px;
}

.sidebarQuantitySpan{
    font-size: 30px;
}

.sidebarValueSpan{
    font-size: 40px;
}

/* .sidebarQuantityCurrentValue{
    color: black;
    font-size: 30px;
    font-family: 'Bellota', system-ui;
    display: flex;
    flex-direction: column;
}

.sidebarQuantityAverageValue{
    color: black;
    font-size: 30px;
    font-family: 'Bellota', system-ui;
    display: flex;
    flex-direction: column;
} */

.sidebarQuantityMessage{
    color: black;
    font-size: 20px;
    font-family: 'Bellota', system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.graphContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.graph-lower-layer{
    background-color: #E5E0FF;

}